@CHARSET "ISO-8859-1";

body 
{
	background-image: url("../images/background.jpg");
} 

input {
	width:80%;
	text-align: center;
}

div.all {
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
	width:35%;
	background-color:white;
	border-radius: 30px 30px 30px 30px;
	margin-left: auto;
    	margin-right: auto;
    	margin-top: 5%;
}

h1.title {
  	display: inline-block;
  	padding-left:10px;
  	padding-right:15px;
  	color: #5A89B8;
  	font-family: 'trebuchet ms';
  	font-weight: bold;
  	font-size: 30px;
  	text-transform: capitalize;
  	text-shadow: 2px 1px 3px #000000;
}

h3.subtitle {
  	padding-right:15px;
  	display: inline-block;
  	font-family: 'trebuchet ms';
  	font-weight: bold;
  	font-size: 15px;
  	text-transform: capitalize;
  	text-shadow: 1px 1px 5px #000000;
}

h3.subsubtitle {
  	display: inline-block;
  	font-family: 'trebuchet ms';
  	font-size: 13px;
  	text-transform: capitalize;
}

div.content {
	padding-top:20px;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
	background-color:Gainsboro;
	border-radius: 30px 30px 30px 30px;
	height:100%;
}

.tip {
	font-size:13pt; 
	font-weight: bold;
	padding-left:5px;
	background-color:white;
	border-radius: 5px 5px 5px 5px;
	text-align: center;
}

button.erase {
	width:100%;
}

table.results {
	width:100%;
	font-size:10pt;
	table-layout:fixed;
	overflow-y:scroll;
}

td.limit {
	word-wrap:break-word;
}