<!DOCTYPE html>

<html ng-app="SQA2014">

<head>
	<meta charset="UTF-8">
	<title>MOPPA</title>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.6/angular.min.js"></script>
    	<script src="js/app.js"></script>
    	<script src="js/controllers.js"></script>
	<link rel="stylesheet" type="text/css" href="style/style.css">
</head>

<body>

<div ng-controller="controller" data-ng-init="getUserId()" class="all">

	<h1 class="title">MOPPA</h1>
	<h3 class="subtitle"> Mobile Parallel Processing Agents (Version 1.3)</h3>
 
	
	<div class="content">
		
		<h3 class="subsubtitle">Introduce a Number (From 1 to 100) to calculate the factorial:</h3>
		<input type="number" ng-model="number"/>
		<button ng-click="sendTask()">Calculate</button><hr>
		<h3 class="subsubtitle">Last Job Submitted: {{last_number}}</h3>
	<h3 class="subsubtitle">{{error}}</h3>


	</div>
	<br>
	<div class="content">
		<h3 class="subsubtitle">RESULTS</h3><hr>
		<button class="erase" ng-click="seeTasks()">Refresh Results</button> <br><br>
		<div class="tip">
<table class="results">
			  <tr>
    <td>NUMBER</td>
    <td>STATUS</td>
    <td>RESULT</td>
  </tr>
  <tr ng-repeat="r in results">
    <td>{{r.Number}}</td>
    <td>{{r.Status}}</td>
    <td class="limit">{{r.Result}}</td>
  </tr>
</table>
		</div><br>
		<button class="erase" ng-click="eraseHistory()">Erase History</button>
	</div>

<br><h3 class="subsubtitle">{{statusId}}{{userId}}</h3>
</div>

</body>

</html>